@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Eloy Cortinez<br />
    28555 Rivercrest Drive<br />
    Southfield Mi <br />
    <abbr title="Phone">P:</abbr>
    586.746.7740
</address>

<address>
    <strong>mail:</strong>   <a href="eloy@eloycortinez.com">eloy@eloycortinez.com</a><br />
</address>